.invalid-feedback
{
    display: block ! important;
    margin-bottom: 0.5em;
    font-size: 100%;
}

.t4wiki
{
    article
    {
        img.missing
        {
            width: 100px;
            height: 100px;
            border: red 1px solid;
        }
        
        img.float-end
        {
            margin: 0 0 0.5em 0.5em;
        }
        
        figure
        {
            img
            {
                max-width: 100%;
            }
        }
        
    }
}

textarea.font-monospace
{
    font-size: 90%;
}
